<!DOCTYPE html>
<html>
  <head>
    <link href="/static/style.css" type="text/css" rel="stylesheet">
    <title> pmaker &mdash; test view </title>
    <script>
      function open_test(test, type) {
         location = "/test_view/show_test/" + test + "/" + type;
      }
    </script>
  </head>
  <body>
    <table border class="collapsed">
      <tr>
        <td id="testview_testno">Test No</td>
        <td id="testview_input">Input</td>
        <td id="testview_output">Output</td>
      </tr>
      {% for index in range(1, tests.size() + 1) %}
      <tr>
        <td> Test {{ index }}

          {% if tests[index].get_group() != None %}
          ({{escape(tests[index].get_group())}})
          {% endif %}
        </td>

        <td class="data_container", onclick="open_test('{{index}}', 'input')">
          {{ shortly(prob.relative("work", "_data", prob.get_test_input_data(tests[index]))) }}
        </td>

        <td class="data_container", onclick="open_test('{{index}}', 'output')">
          {{ shortly(prob.relative("work", "_data", prob.get_test_output_data(tests[index]))) }}
        </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
